.sass-cache/*
*.log
.env
/vendor
/node_modules
/.idea
composer.phar
bootstrap/cache/compiled.php
bootstrap/cache/
public/uploads/stockImages/
modules/
public/data/img/
public/videos/
resources/assets/bower_components/
#public/js/apps/
/vue-webpack/node_modules
.DS_Store
config/cors.php
config/debugbar.php
config/ide-helper.php
config/image.php
config/infusionsoft.php
config/pusher.php
config/searchindex.php
config/tinker.php
config/trustedproxy.php
config/vimeo.php
config/woocommerce.php
public/storage/
resources/assets/js/spark/
resources/assets/less/spark/
resources/views/vendor/cashier/
resources/views/vendor/mail/
#resources/views/vendor/notifications/
resources/views/vendor/pagination/
resources/views/index.blade.php
resources/views/embed.blade.php
resources/views/video.blade.php
resources/views/notifications/email.blade.php
/public/testvideo.mp4
composer.lock
package-lock.json
/public/data
/public/static/js
resources/assets/
public/static
public/js
public/css
public/fonts
public/uploads
spark/vendor
*.code-workspace
.vscode
.sass-cache/*
*-lock.*
*.mp4
*~
public/static-embed
storage/uploads/*
vue-webpack/config/dev.env.js
vue-webpack/config/dev.env.js
vue-webpack/config/dist/*
storage/data/*
